<!DOCTYPE html>
<html lang="zxx">
{% load staticfiles%}
<head>
	<title>Be Clinic Medical Category Bootstrap Responsive Website Template | Register :: W3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Be Clinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="{%static 'css/font-awesome.min.css'%}" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="{%static '//fonts.googleapis.com/css?family=Quicksand:300,400,500,700'%}" rel="stylesheet">
	<link href="{%static '//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext'%}" rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<!-- main -->
	<div id="home">
		<!-- top header -->
		<header>
			<div class="top-bar py-3">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-6 col-md-8 top-social-agile text-lg-left text-center">
							<div class="row">
								<div class="col-4 header-top_w3layouts">

								</div>
								<!-- social icons -->

								<!-- //social icons -->
							</div>
						</div>
						<div class="col-xl-7 col-lg-6 col-md-4 top-social-agile text-md-right text-center mt-md-0 mt-2">
							<div class="row">
								<div class="offset-xl-6 offset-lg-4">
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- //top header -->

		<!-- second header -->
		<div class="main-top">
			<div class="container">
				<div class="header d-md-flex justify-content-between align-items-center py-3">
					<!-- logo -->
					<div id="logo">
						<h1>
							<a href="">
								<span class="fa fa-user-md mr-2"></span>
								<span class="logo-sp">Be</span> Clinic
							</a>
						</h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li><a href="{% url 'admin/homepage' %}">Home</a></li>
									<!-- First Tier Drop Down -->
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</div>
		<!-- //second header -->

		<!-- banner -->
		<div class="main-banner-2">

		</div>
		<!-- //banner -->
	</div>
	<!-- //main -->

	<!-- page details -->
	<h6 class="w3ls-title-sub"></h6>
				<h3 class="w3ls-title text-uppercase text-dark font-weight-bold"></h3>
			</body>
			<div class="login px-sm-4 mx-auto mw-100 login-wrapper">
                <div class="breadcrumb-agile py-1">
		<ol class="breadcrumb m-0">
		</ol>
	</div>
	<!-- //page details -->
<section class="logins py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<form  enctype="multipart/form-data" class="login-wrapper"  method="post">
					{% csrf_token%}
                   <style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>



<h2 align="center">Feedback</h2>

<table id="t01">
  <tr>
    <th>Collegeid</th>
    <th>Name</th>
    <th>comments</th>
  </tr>
  <tbody>

	{% for j in data %}
	{% for i in data1 %}
	{% if i.fimd == j.ids_id %}
    <tr>
    <td>{{ j.Collegeid }}</td>
    <td>{{ i.name }}</td>
    <td>{{ i.comment }}</td>
    </tr>
	{% endif %}
    {% endfor %}
  {%  endfor %}

  </tbody>

</table>
					<p align="center">
				<td><button name="submit"  type="submit" class="w3-button w3-red"   width="50" height="50" />Ok </td>
				</p>
                </form>
            </div>
        </div>
</section>
</section>
            </div>
</html>